.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

div {
  overflow: auto;
}

hr {
  height: 1px;
}

.text-right {
  text-align: right;
}

.row1 .left {
  text-align: center;
}

.center {
  text-align: center;
}

.row3 img {
  display: block;
  margin: auto;
}
